<?xml version="1.0" encoding="UTF-8"?>
<WATER-CONTROL>

<PUMP>
  <CHANNEL>
     <RELAY>40</RELAY>
  </CHANNEL>
</PUMP>

<WATER>
  <SCHEDULE>
    <TIME_ON>21:00</TIME_ON>
    <TIME_OFF>21:05</TIME_OFF>
  </SCHEDULE>
</WATER>

<DISPLAY>
  <TITLE>Plant Auto Watering</TITLE>
</DISPLAY>

</WATER-CONTROL>