<?xml version="1.0" encoding="UTF-8"?>
<WATER-CONTROL>

<PUMP>
  <CHANNEL>
     <RELAY>40</RELAY>
     <NAME>Pump</NAME>
  </CHANNEL>
</PUMP>

<WATER>
  <SCHEDULE>
    <TIME_ON>17:37</TIME_ON>
    <TIME_OFF>17:38</TIME_OFF>
  </SCHEDULE>
</WATER>

<DISPLAY>
  <TITLE>Plant Auto Watering</TITLE>
</DISPLAY>

</WATER-CONTROL>