<!DOCTYPE HTML PUBLIC "-//SoftQuad//DTD HoTMetaL PRO 4.0::19971010::extensions to HTML 4.0//EN"
 "hmpro4.dtd">

<HTML>
  
  <HEAD>
    <TITLE>{{ title }}</TITLE>
    <LINK REL="stylesheet" TYPE="text/css" 
    HREF="{{ url_for('static', filename='style.css') }}">
     <META HTTP-EQUIV="refresh" CONTENT="30">
 </HEAD>
  
  <BODY>
    
    <H1>{{ title }}</H1>
    
    <P>Current time is: {{ time }}</P>
    
   
    <H3>Pump state: {{ pump }}</H3>


</FORM>
    
    <H3>Turn off</H3>
    
    <P><A HREF="\confirm">Shutdown</A></P>
  </BODY>
</HTML>